* {
    font-family: "Noto Sans Arabic";
}

a {
    text-decoration: none;
    color: unset;
    &:hover {
        color: unset;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bs-gray-200) !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.btn-primary:focus,
.btn-success:focus,
.btn-danger:focus {
    box-shadow: none !important;
}

.custom-nav-dropdown.dropdown-menu {
    min-width: 80vw !important;
    margin-top: 0rem !important;
    top: 3.5rem !important;
    right: auto !important;
    left: auto !important;
    @include mediaQuery(lg) {
        margin-top: 1rem !important;
    }
}

.custom-nav-dropdown.dropdown {
    position: unset !important;
}

.navbar {
    position: relative !important;
    z-index: 10 !important;
}

.navbar-toggler {
    background-color: white !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.navbar-toggler-icon {
    width: 1rem !important;
    height: 1rem !important;
}

.navbar-toggler {
    font-size: 1rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.modal {
    top: 25% !important;
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
    background-color: inherit !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.form-check-input:focus {
    box-shadow: none !important;
    border-color: var(--bs-secondary) !important;
}

.form-check-input[type="checkbox"] {
    border-radius: 0.2rem !important;
}

.form-check-input {
    border-color: var(--bs-secondary) !important;
}

.accordion-button:not(.collapsed)::after {
    background: url("../../images/icons/arrow-down.svg") !important;
}

.form-check-input:checked {
    background-color: var(--bs-secondary) !important;
}

.btn:focus {
    box-shadow: none !important;
}

.navbar-collapse.show,
.collapsing {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: start;
}
